.container {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 9vh; /* Tamanho da fonte em relação à altura da viewport */ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}