<div class="container">
    <div class="linha">

    </div>
    <img src="assets/rede.png" alt="teste" class="imagem" />
       
    <div class="texto1">
        <strong>
            Simplique. Organize. Gerencie.
        </strong>
    </div>
    <p>

    </p>
    <div>
        De tarefas cotidianas a projetos ambiciosos,
    
    </div>
    <div>
        Proporcionamos controle total e organização impecável.
    </div>
    <div>
        Explore as possibilidades, alcance resutados notáveis e
    </div>
    <div>
        experimente o poder do gerenciamento otimizado
    </div>
    <div>
        conosco.
    </div>
    

    
</div>
