<div class="container">
<div clas="segcontainer">
    <table class="segcontainer">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Salário</th>
            <th>Situação</th>
            <th>Vale alimentação</th>
            <th>Vale refeição</th>
            <th>Carga horária</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Marlombrado</td>
            <td>Filho do dono</td>
            <td>R$ 25.000</td>
            <td>Admitido</td>
            <td>R$ 1.900,00</td>
            <td>R$ 1.400,00</td>
            <td>9hrs as 16hrs</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Teste</td>
            <td>Aviaozin</td>
            <td>R$ 1.000</td>
            <td>Admitido</td>
            <td>X</td>
            <td>X</td>
            <td>9hrs as 22hrs</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
</div>
</div>