.container {
    width: 220px;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 20px; 
    border-bottom-right-radius: 20px;
    position: relative;    
    height: 90%;
    display: flex;
    flex-direction: column;  
    background-color: #ccc;
  }

  .linha {

    width: 100%;
    height: 20px;
    position: absolute; /* Para posicionar a faixa dentro do container */
    top: 0; /* Ajuste a posição superior da faixa conforme necessário */
    left: 0;
    background-color: black;
  }